.cart-table {
    margin-bottom: 40px;
  }
  
  .cart-table table {
    width: 100%;
    min-width: 480px;
    border: 1px solid #ebebeb;
  }
  
  .cart-table table tr th {
    font-size: 16px;
    color: #252525;
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    padding: 18px 0 19px;
    text-transform: uppercase;
  }
  
  .cart-table table tr th.p-name {
    text-align: center;
  }
  
  .cart-table table tr td {
    text-align: center;
    /* padding-bottom: 34px; */
  }
  
  .cart-table table tr td.first-row {
    /* padding-top: 30px; */
  }
  
  .cart-table table tr td.cart-pic {
    width: 12%;
  }
  
  .cart-table table tr td.cart-title {
    text-align: center;
  }
  
  .cart-table table tr td.cart-title h5 {
    color: #252525;
  }
  
  .cart-table table tr td.p-price {
    width: 15%;
  }
  
  .cart-table table tr td.p-price,
  .cart-table table tr td.total-price {
    color: #145f3d;
    font-size: 16px;
    font-weight: 700;
  }
  
  .cart-table table tr td.qua-col {
    /* width: 16%; */
  }
  
    /* .cart-table table tr td.qua-col .quantity {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    } */
  
  .cart-table table tr td.qua-col .pro-qty {
    width: 123px;
    height: 46px;
    border: 2px solid #ebebeb;
    padding: 0 15px;
    float: left;
  }
  
  .cart-table table tr td.qua-col .pro-qty .qtybtn {
    font-size: 24px;
    color: #b2b2b2;
    float: left;
    line-height: 38px;
    cursor: pointer;
    width: 18px;
  }
  
  .cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
    font-size: 30px;
  }
  
  
  
  .cart-table table tr td.total-price {
    width: 12%;
  }
  
  .cart-table table tr td.close-td {
    font-size: 16px;
    color: #252525;
    width: 8%;
  }
  
  .cart-table table tr td.close-td i {
    cursor: pointer;
  }
  .cart-table {
    overflow: auto;
  }
  .cart-table table tr th {
    font-size: 12px;
  }
  .cart-table table {
    width: 100%;
    min-width: 480px;
    border: 1px solid #ebebeb;
  }
  
  .cart-table table tr th {
    font-size: 16px;
    color: #252525;
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    padding: 18px 0 19px;
    text-transform: uppercase;
  }
  
  .cart-table table tr th.p-name {
    text-align: center;
  }
  
  .cart-table table tr td {
    text-align: center;
    /* padding-bottom: 34px; */
  }
  
  .cart-table table tr td.first-row {
    /* padding-top: 30px; */
  }
  
  .cart-table table tr td.cart-pic {
    width: 12%;
  }
  
  .cart-table table tr td.cart-title {
    text-align: center;
  }
  .cart-table table tr td.p-price {
    width: 15%;
  }
  
  .cart-table table tr td.p-price,
  .cart-table table tr td.total-price {
    color: #145f3d;
    font-size: 16px;
    font-weight: 700;
  } 
  .cart-table table tr td.qua-col {
    width: 16%;
  }
  
  .cart-table table tr td.qua-col .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .cart-table table tr td.qua-col .pro-qty {
    width: 123px;
    height: 46px;
    border: 2px solid #ebebeb;
    padding: 0 15px;
    float: left;
  }
  
  .cart-table table tr td.qua-col .pro-qty .qtybtn {
    /* font-size: 24px;
    color: #b2b2b2;
    float: left;
    line-height: 38px;
    cursor: pointer;
    width: 18px; */
  }
  .cart-table table tr td.qua-col .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 33px;
  }
  .quantity .pro-qty {
    width: 123px;
    height: 46px;
    border: 2px solid #ebebeb;
    padding: 0 15px;
    float: left;
    margin-right: 14px;
  }
  .quantity .pro-qty .qtybtn {
    /* font-size: 24px;
    color: #b2b2b2;
    float: left;
    line-height: 38px;
    cursor: pointer;
    width: 18px; */
  }
  
  .quantity .pro-qty .qtybtn.dec {
    font-size: 30px;
  }

  .quantity .pro-qty input {
    /* text-align: center;
    width: 52px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #4c4c4c;
    line-height: 40px;
    float: left; */
  }
  .cart-buttons {
    margin-bottom: 34px;
  }
  .proceed-checkout ul {
    border: 2px solid #ebebeb;
    background: #f3f3f3;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 20px;
  }
  
  .proceed-checkout ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    color: #252525;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .proceed-checkout ul li.subtotal {
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 14px;
  }
  
  .proceed-checkout ul li.subtotal span {
    font-weight: 700;
  }
  
  .proceed-checkout ul li.cart-total {
    padding-top: 10px;
  }
  
  .proceed-checkout ul li.cart-total span {
    color: #e7ab3c;
  }
  
  .proceed-checkout ul li span {
 
  }.proceed-checkout ul li.cart-total {
    padding-top: 10px;
  }
  .proceed-checkout .proceed-btn {
    font-size: 14px;
    font-weight: 700;
    color: black;
    background: #ffffff;
    text-transform: uppercase;
    padding: 15px 25px 14px 25px;
    display: block;
    text-align: center;
    border: 1px solid black;
  }
  .proceed-btn:hover{
    background: #145f3d;
    color: #fff;
  }
  .proceed-checkout ul li.cart-total span {
    color: #145f3d;
  }
  

  .cart-buttons .continue-shop {
    color: #b2b2b2;
    border: 2px solid #ebebeb;
    background: #ffffff;
    margin-right: 8px;
    padding: 12px 20px 12px 20px;
    margin-bottom: 10px;
  }
  
  .cart-buttons .up-cart {
    color: #145f3d;
    background: #f3f3f3;
    border: 2px solid #ebebeb;
    padding: 12px 20px 12px 20px;
  }
  .cart-table table tr td.p-price,
  .cart-table table tr td.total-price {
    color: #145f3d;
    font-size: 16px;
    font-weight: 700;
  }
  .cart-table table tr td.total-price {
    width: 12%;
  }

  .total-price span {
    color: #145f3d;
  }     
  .quantity .primary-btn.pd-cart {
    padding: 14px 70px 10px;
  }
    
  .cart-table table tr td.qua-col .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .quantity .primary-btn.pd-cart {
    padding: 14px 30px 10px;
  }
  .quantity .primary-btn.pd-cart {
    padding: 14px 20px 10px;
  }
  .quantity {
    color: red;
    font-size: 20px;
  }
  .quantity .primary-btn.pd-cart {
    padding: 14px 30px 10px;
  }
  .quantity .primary-btn.pd-cart {
    padding: 14px 20px 10px;
  }
  .cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
    font-size: 30px;
  }
  
 
  .specification-table table tr td .p-price {
    color: #145f3d;
    font-size: 16px;
    font-weight: 700;
  }
  .cart-table table tr td.cart-title h5 {
    color: #252525;
  }
  .cart-table table tr td.first-row {
    /* padding-top: 30px; */
  }
  .cart-table table tr td.cart-title {
    text-align: center;
  }
  
  .cart-table table tr td.cart-title h5 {
    color: #252525;
  }
.cart-table table tr th.p-name {
    text-align: center;
  }
  .cart-table table tr td.p-price {
    width: 15%;
  }
  .cart-table table tr td.cart-pic {
    width: 12%;
  }
  .cart-table table tr td.p-price,
  .cart-table table tr td.total-price {
    color: #145f3d;
    font-size: 16px;
    font-weight: 700;
  }
  
  .cart-table table tr td.qua-col {
    width: 16%;
  }
  
  .cart-table table tr td.qua-col .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .cart-table table tr td.qua-col .pro-qty {
    width: 123px;
    height: 46px;
    border: 2px solid #ebebeb;
    padding: 0 15px;
    float: left;
  }
  
  .cart-table table tr td.qua-col .pro-qty .qtybtn {
    font-size: 24px;
    color: #b2b2b2;
    float: left;
    line-height: 38px;
    cursor: pointer;
    width: 18px;
  }
  
  .cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
    font-size: 30px;
  }
  
  .cart-table table tr td.qua-col .pro-qty input {
    text-align: center;
    width: 52px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #4c4c4c;
    line-height: 40px;
    /* float: left; */
    position: relative;
    right: 10px;
  }
  
  .cart-table table tr td.total-price {
    width: 12%;
  }
  
  .cart-table table tr td.close-td {
    font-size: 16px;
    color: #252525;
    width: 8%;
  }
  
  .cart-table table tr td.close-td i {
    cursor: pointer;
  }
  .cart-table {
    overflow: auto;
  }
  .cart-table table tr th {
    font-size: 12px;
  }
  .cart-table table {
    width: 100%;
    min-width: 480px;
    border: 1px solid #ebebeb;
  }
  
  .cart-table table tr th {
    font-size: 16px;
    color: #252525;
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    padding: 18px 0 19px;
    text-transform: uppercase;
  }
  
  .cart-table table tr th.p-name {
    text-align: center;
  }
  
  .cart-table table tr td {
    text-align: center;
    /* padding-bottom: 34px; */
  }
  
  .cart-table table tr td.first-row {
    /* padding-top: 30px; */
  }
  
  .cart-table table tr td.cart-pic {
    width: 12%;
  }
  
  .cart-table table tr td.cart-title {
    text-align: center;
  }
  
  .cart-table table tr td.cart-title h5 {
    color: #252525;
  }
  
  .cart-table table tr td.p-price {
    width: 15%;
  }
  
  .cart-table table tr td.p-price,
  .cart-table table tr td.total-price {
    color:#145f3d;
    font-size: 16px;
    font-weight: 700;
  }
  
  .cart-table table tr td.qua-col {
    width: 16%;
  }
  
  .cart-table table tr td.qua-col .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .cart-table table tr td.qua-col .pro-qty {
    width: 123px;
    height: 46px;
    border: 2px solid #ebebeb;
    padding: 0 15px;
    float: left;
  }
  
  .cart-table table tr td.qua-col .pro-qty .qtybtn {
    font-size: 24px;
    color: #b2b2b2;
    float: left;
    line-height: 38px;
    cursor: pointer;
    width: 18px;
  }
  
  .cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
    font-size: 30px;
  }
  
  .cart-table table tr td.qua-col .pro-qty input {
    /* text-align: center;
    width: 52px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #4c4c4c;
    line-height: 40px;
    float: left; */
  }
  
  .cart-table table tr td.total-price {
    width: 12%;
  }
  
  .cart-table table tr td.close-td {
    font-size: 16px;
    color: #252525;
    width: 8%;
  }
  
  .cart-table table tr td.close-td i {
    cursor: pointer;
  }
  .breadcrumb-text {
    border-bottom: 1px solid #ebebeb;
    padding: 15px;
  }
  
  .breadcrumb-text.product-more a:nth-child(1):after {
    color: #252525;
  }
  
  .breadcrumb-text a {
    display: inline-block;
    font-size: 16px;
    color: #252525;
    margin-right: 28px;
    position: relative;
  }
  
  .breadcrumb-text a:after {
    position: absolute;
    right: -18px;
    top: 0px;
    content: "ï„…";
    font-family: "FontAwesome";
    font-size: 16px;
    color: #b2b2b2;
  }
  
  .breadcrumb-text span {
    display: inline-block;
    color: #b2b2b2;
  }
  .shopping-cart {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .spad {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .nut-tang-giam-cart{
    width: 35px;
    height: 40px;
    border: none;

  }
  .increase-cart {
    width: 35px;
    height: 44px;
    border: none;
    position: relative;
    left: 43px;
    bottom: 44px;
 
  }
  .reduce-cart{
    width: 35px;
    height: 43px;
    border: none;
    position: relative;
    right: 19px;
  }
.increase-cart:hover{
    background-color: #145f3d;
    color: #fff;
  }
  .reduce-cart:hover{
    background-color: #145f3d;
    color: #fff;
  }